a {
      color: black;
      text-decoration: none;
}

a:hover {
      color: black;
      text-decoration: none;
}

h1 {
  color: ##FFFFFF;
}

p {
  color: ##FFFFFF;
}

body {
  background-color: #0F0F0F;
}

.body {
  background-color: #0F0F0F;
}

.projeto-color {
  background-color: #FF003D;
}

.red {
  color: #FF003D;
}

.borda {
  border: 1px solid #FF003D;
}

.white {
  color: #ffffff;
}
  